USE [master]
GO
/****** Object:  Database [QuanLyThuVien_K235480106019]    Script Date: 4/24/2026 4:46:11 PM ******/
CREATE DATABASE [QuanLyThuVien_K235480106019]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien_K235480106019', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K6019\MSSQL\DATA\QuanLyThuVien_K235480106019.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_K235480106019_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K6019\MSSQL\DATA\QuanLyThuVien_K235480106019_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien_K235480106019].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien_K235480106019]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SoNgayMuonThucTe]    Script Date: 4/24/2026 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SoNgayMuonThucTe] (
    @NgayMuon DATE,
    @NgayTra DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @SoNgay INT;

    IF (@NgayTra IS NULL)
        SET @SoNgay = DATEDIFF(DAY, @NgayMuon, GETDATE());
    ELSE
        SET @SoNgay = DATEDIFF(DAY, @NgayMuon, @NgayTra);

    RETURN @SoNgay;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeMuonSach]    Script Date: 4/24/2026 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ThongKeMuonSach]()
RETURNS @Result TABLE (
    [MaPhieu] INT,
    [MaDocGia] INT,
    [MaSach] INT,
    [SoNgayMuon] INT,
    [TrangThai] NVARCHAR(50),
    [TienPhat] INT
)
AS
BEGIN
    INSERT INTO @Result
    SELECT 
        [MaPhieu],
        [MaDocGia],
        [MaSach],

        -- Tính số ngày mượn
        CASE 
            WHEN [NgayTra] IS NULL 
                THEN DATEDIFF(DAY, [NgayMuon], GETDATE())
            ELSE DATEDIFF(DAY, [NgayMuon], [NgayTra])
        END AS SoNgayMuon,

        -- Xác định trạng thái
        CASE 
            WHEN [NgayTra] IS NULL THEN N'Đang mượn'
            WHEN DATEDIFF(DAY, [NgayMuon], [NgayTra]) > 7 THEN N'Quá hạn'
            ELSE N'Đã trả'
        END AS TrangThai,

        -- Tính tiền phạt
        CASE 
            WHEN [NgayTra] IS NULL THEN 0
            WHEN DATEDIFF(DAY, [NgayMuon], [NgayTra]) > 7 
                THEN (DATEDIFF(DAY, [NgayMuon], [NgayTra]) - 7) * 5000
            ELSE 0
        END AS TienPhat

    FROM [PhieuMuon];

    RETURN;
END;
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 4/24/2026 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieu] [int] NOT NULL,
	[MaDocGia] [int] NULL,
	[MaSach] [int] NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LichSuMuonTheoDocGia]    Script Date: 4/24/2026 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LichSuMuonTheoDocGia] (
    @MaDocGia INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        [MaPhieu],
        [MaDocGia],
        [MaSach],
        [NgayMuon],
        [NgayTra]
    FROM [PhieuMuon]
    WHERE [MaDocGia] = @MaDocGia
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 4/24/2026 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] NOT NULL,
	[TenDocGia] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/24/2026 4:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] NOT NULL,
	[TenSach] [nvarchar](150) NOT NULL,
	[TacGia] [nvarchar](100) NULL,
	[GiaTien] [decimal](10, 2) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [SoDienThoai], [DiaChi]) VALUES (1, N'Nguyễn Văn A', CAST(N'2000-01-01' AS Date), N'0123456789', N'Hà Nội')
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [SoDienThoai], [DiaChi]) VALUES (2, N'Trần Thị B', CAST(N'2001-05-10' AS Date), N'0987654321', N'Thái Nguyên')
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [SoDienThoai], [DiaChi]) VALUES (3, N'Nguyễn Thị Như Ý', CAST(N'2005-05-29' AS Date), N'0349224385', N'Hà Nội')
GO
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTra]) VALUES (1, 1, 1, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-05' AS Date))
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTra]) VALUES (2, 2, 2, CAST(N'2026-04-10' AS Date), NULL)
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTra]) VALUES (10, 1, 1, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-15' AS Date))
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [GiaTien], [SoLuong]) VALUES (1, N'Lập trình SQL', N'Nguyễn Văn C', CAST(100000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [GiaTien], [SoLuong]) VALUES (2, N'Cơ sở dữ liệu', N'Trần Văn D', CAST(120000.00 AS Decimal(10, 2)), 7)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [GiaTien], [SoLuong]) VALUES (3, N'Mạng máy tính', N'Đỗ Ngọc Hải', CAST(150000.00 AS Decimal(10, 2)), 7)
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_Sach]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_NgayTra] CHECK  (([NgayTra]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_NgayTra]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSach]    Script Date: 4/24/2026 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSach]
    @MaSach INT,
    @TenSach NVARCHAR(150),
    @TacGia NVARCHAR(100),
    @GiaTien DECIMAL(10,2),
    @SoLuong INT
AS
BEGIN
    -- Kiểm tra trùng mã
    IF EXISTS (SELECT 1 FROM [Sach] WHERE [MaSach] = @MaSach)
    BEGIN
        PRINT N'Mã sách đã tồn tại!';
        RETURN;
    END

    -- Kiểm tra số lượng
    IF (@SoLuong < 0)
    BEGIN
        PRINT N'Số lượng phải >= 0!';
        RETURN;
    END

    -- Kiểm tra giá tiền
    IF (@GiaTien <= 0)
    BEGIN
        PRINT N'Giá tiền phải > 0!';
        RETURN;
    END

    -- Nếu hợp lệ thì insert
    INSERT INTO [Sach] ([MaSach], [TenSach], [TacGia], [GiaTien], [SoLuong])
    VALUES (@MaSach, @TenSach, @TacGia, @GiaTien, @SoLuong);

    PRINT N'Thêm sách thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongTinMuonSach]    Script Date: 4/24/2026 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongTinMuonSach]
AS
BEGIN
    SELECT 
        pm.[MaPhieu],
        dg.[TenDocGia],
        s.[TenSach],
        pm.[NgayMuon],
        pm.[NgayTra],

        -- Thêm trạng thái
        CASE 
            WHEN pm.[NgayTra] IS NULL THEN N'Đang mượn'
            WHEN DATEDIFF(DAY, pm.[NgayMuon], pm.[NgayTra]) > 7 THEN N'Quá hạn'
            ELSE N'Đã trả'
        END AS TrangThai

    FROM [PhieuMuon] pm
    JOIN [DocGia] dg ON pm.[MaDocGia] = dg.[MaDocGia]
    JOIN [Sach] s ON pm.[MaSach] = s.[MaSach];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTongTienPhat]    Script Date: 4/24/2026 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[sp_TinhTongTienPhat]
    @MaDocGia INT,
    @TongTienPhat INT OUTPUT
AS
BEGIN
    SELECT @TongTienPhat = SUM(
        CASE 
            WHEN [NgayTra] IS NOT NULL 
                 AND DATEDIFF(DAY, [NgayMuon], [NgayTra]) > 7
            THEN (DATEDIFF(DAY, [NgayMuon], [NgayTra]) - 7) * 5000
            ELSE 0
        END
    )
    FROM [PhieuMuon]
    WHERE [MaDocGia] = @MaDocGia;

    -- Nếu NULL thì gán = 0
    IF (@TongTienPhat IS NULL)
        SET @TongTienPhat = 0;
END;
GO
USE [master]
GO
