USE [master]
GO
/****** Object:  Database [QLCC]    Script Date: 5/8/2026 10:18:27 PM ******/
CREATE DATABASE [QLCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCC', FILENAME = N'D:\New folder\QLCC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCC_log', FILENAME = N'D:\New folder\QLCC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCC]
GO
/****** Object:  UserDefinedTableType [dbo].[DS_TAI_SAN]    Script Date: 5/8/2026 10:18:27 PM ******/
CREATE TYPE [dbo].[DS_TAI_SAN] AS TABLE(
	[TenTaiSan] [nvarchar](100) NULL,
	[LoaiTaiSan] [nvarchar](50) NULL,
	[GiaTriThamDinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](300) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*--------------------------------------------------------
3. FUNCTION TÍNH TỔNG CÔNG NỢ HỢP ĐỒNG
- Gốc
- Lãi đơn
- Lãi kép
---------------------------------------------------------*/
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN

    DECLARE
        @TienGoc DECIMAL(18,2),
        @NgayVay DATE,

        @LaiDon FLOAT,
        @LaiKep FLOAT,

        @SoThang INT,

        @TienLaiDon DECIMAL(18,2),
        @TienLaiKep DECIMAL(18,2),

        @TongTien DECIMAL(18,2);

    /*--------------------------------------------
    LẤY THÔNG TIN HỢP ĐỒNG
    --------------------------------------------*/
    SELECT
        @TienGoc = TienGoc,
        @NgayVay = NgayVay,
        @LaiDon = LaiSuatDon,
        @LaiKep = LaiSuatKep
    FROM HOP_DONG
    WHERE MaHD = @ContractID;

    /*--------------------------------------------
    TÍNH SỐ THÁNG
    --------------------------------------------*/
    SET @SoThang =
        DATEDIFF(MONTH, @NgayVay, @TargetDate);

    IF @SoThang < 0
        SET @SoThang = 0;

    /*--------------------------------------------
    LÃI ĐƠN
    Công thức:
    Lãi = Gốc * lãi suất * số tháng
    --------------------------------------------*/
    SET @TienLaiDon =
        @TienGoc * @LaiDon * @SoThang;

    /*--------------------------------------------
    LÃI KÉP
    Công thức:
    A = P * (1 + r)^n

    POWER dùng để tính lũy thừa
    --------------------------------------------*/
    SET @TienLaiKep =
        (@TienGoc * POWER((1 + @LaiKep), @SoThang))
        - @TienGoc;

    /*--------------------------------------------
    TỔNG PHẢI TRẢ
    --------------------------------------------*/
    SET @TongTien =
        @TienGoc +
        @TienLaiDon +
        @TienLaiKep;

    RETURN @TongTien;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*--------------------------------------------------------
2. FUNCTION TÍNH TIỀN CHO 1 GIAO DỊCH
(TransactionID = MaBD)
---------------------------------------------------------*/
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN

    DECLARE 
        @SoTienGoc DECIMAL(18,2),
        @NgayGD DATE,
        @LoaiBienDong NVARCHAR(50),

        @SoNgay INT,
        @TienPhaiTra DECIMAL(18,2),

        @LaiNgay FLOAT = 0.001; -- 0.1% / ngày

    /*--------------------------------------------
    LẤY THÔNG TIN GIAO DỊCH
    --------------------------------------------*/
    SELECT
        @SoTienGoc = SoTien,
        @NgayGD = CAST(ThoiGian AS DATE),
        @LoaiBienDong = LoaiBienDong
    FROM BIEN_DONG_HOP_DONG
    WHERE MaBD = @TransactionID;

    /*--------------------------------------------
    TÍNH SỐ NGÀY
    --------------------------------------------*/
    SET @SoNgay = DATEDIFF(DAY, @NgayGD, @TargetDate);

    IF @SoNgay < 0
        SET @SoNgay = 0;

    /*--------------------------------------------
    TÍNH LÃI ĐƠN
    Công thức:
    Tiền = Gốc + Gốc * lãi * số ngày
    --------------------------------------------*/
    SET @TienPhaiTra =
        @SoTienGoc +
        (@SoTienGoc * @LaiNgay * @SoNgay);

    RETURN @TienPhaiTra;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SoNgayQuaHan]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*========================================================
EVENT 4: TRUY VẤN DANH SÁCH NỢ XẤU
(NỢ KHÓ ĐÒI)
=========================================================*/


/*--------------------------------------------------------
1. FUNCTION TÍNH SỐ NGÀY QUÁ HẠN
---------------------------------------------------------*/
CREATE FUNCTION [dbo].[fn_SoNgayQuaHan]
(
    @HanTra DATE
)
RETURNS INT
AS
BEGIN

    DECLARE @SoNgay INT;

    SET @SoNgay =
        DATEDIFF(DAY, @HanTra, GETDATE());

    IF @SoNgay < 0
        SET @SoNgay = 0;

    RETURN @SoNgay;

END;
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](20) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayVay] [date] NOT NULL,
	[HanTra1] [date] NOT NULL,
	[TienGoc] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[HanTra2] [date] NULL,
	[LaiSuatDon] [float] NULL,
	[LaiSuatKep] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_NO_XAU]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*--------------------------------------------------------
2. VIEW DANH SÁCH NỢ XẤU
---------------------------------------------------------*/
CREATE VIEW [dbo].[VW_NO_XAU]
AS

SELECT

    KH.HoTen,
    KH.SoDienThoai,

    HD.TienGoc,

    dbo.fn_SoNgayQuaHan(HD.HanTra1)
        AS SoNgayQuaHan,

    dbo.fn_CalcMoneyContract
    (
        HD.MaHD,
        GETDATE()
    )
    AS TongTienHienTai,

    dbo.fn_CalcMoneyContract
    (
        HD.MaHD,
        DATEADD(MONTH, 1, GETDATE())
    )
    AS TongTienSau1Thang

FROM HOP_DONG HD

JOIN KHACH_HANG KH
    ON HD.MaKH = KH.MaKH

WHERE

    GETDATE() > HD.HanTra1

    AND HD.TrangThai
        <> N'Đã thanh toán đủ';
GO
/****** Object:  Table [dbo].[BIEN_DONG_HOP_DONG]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIEN_DONG_HOP_DONG](
	[MaBD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[LoaiBienDong] [nvarchar](50) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_CAM_CO]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CAM_CO](
	[MaHD] [int] NOT NULL,
	[MaTS] [int] NOT NULL,
	[NgayCamCo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_THANH_TOAN]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_THANH_TOAN](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThuTien] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_SAN]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_SAN](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[LoaiTaiSan] [nvarchar](50) NULL,
	[GiaTriThamDinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](300) NULL,
	[IsSold] [bit] NULL,
	[TrangThaiTaiSan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BIEN_DONG_HOP_DONG] ON 

INSERT [dbo].[BIEN_DONG_HOP_DONG] ([MaBD], [MaHD], [ThoiGian], [LoaiBienDong], [SoTien], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-08T21:11:43.750' AS DateTime), N'Tạo hợp đồng', CAST(20000000.00 AS Decimal(18, 2)), N'Đăng ký hợp đồng vay mới')
INSERT [dbo].[BIEN_DONG_HOP_DONG] ([MaBD], [MaHD], [ThoiGian], [LoaiBienDong], [SoTien], [GhiChu]) VALUES (2, 1, CAST(N'2026-05-08T21:26:03.037' AS DateTime), N'Tạo hợp đồng', CAST(15000000.00 AS Decimal(18, 2)), N'Khách vay lần đầu')
INSERT [dbo].[BIEN_DONG_HOP_DONG] ([MaBD], [MaHD], [ThoiGian], [LoaiBienDong], [SoTien], [GhiChu]) VALUES (3, 2, CAST(N'2026-05-08T21:26:03.037' AS DateTime), N'Tạo hợp đồng', CAST(30000000.00 AS Decimal(18, 2)), N'Cầm cố điện thoại')
SET IDENTITY_INSERT [dbo].[BIEN_DONG_HOP_DONG] OFF
GO
INSERT [dbo].[CHI_TIET_CAM_CO] ([MaHD], [MaTS], [NgayCamCo]) VALUES (1, 1, CAST(N'2026-05-08' AS Date))
INSERT [dbo].[CHI_TIET_CAM_CO] ([MaHD], [MaTS], [NgayCamCo]) VALUES (1, 2, CAST(N'2026-05-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[HOP_DONG] ON 

INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [HanTra1], [TienGoc], [TrangThai], [HanTra2], [LaiSuatDon], [LaiSuatKep]) VALUES (1, 1, CAST(N'2026-05-08' AS Date), CAST(N'2026-01-01' AS Date), CAST(20000000.00 AS Decimal(18, 2)), N'Đã thanh lý', CAST(N'2026-01-01' AS Date), NULL, NULL)
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [HanTra1], [TienGoc], [TrangThai], [HanTra2], [LaiSuatDon], [LaiSuatKep]) VALUES (2, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-02-10' AS Date), CAST(15000000.00 AS Decimal(18, 2)), N'Đã thanh toán đủ', CAST(N'2026-03-10' AS Date), 0.03, 0.02)
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [NgayVay], [HanTra1], [TienGoc], [TrangThai], [HanTra2], [LaiSuatDon], [LaiSuatKep]) VALUES (3, 2, CAST(N'2026-02-05' AS Date), CAST(N'2026-03-05' AS Date), CAST(30000000.00 AS Decimal(18, 2)), N'Đang vay', CAST(N'2026-04-05' AS Date), 0.025, 0.015)
SET IDENTITY_INSERT [dbo].[HOP_DONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (1, N'Nguyễn Văn A', N'123456789012', N'0988123456', N'Thái Nguyên', CAST(N'2026-05-08T21:11:43.740' AS DateTime))
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (2, N'Nguyễn Văn An', N'111111111111', N'0988000001', N'Hà Nội', CAST(N'2026-05-08T21:26:02.967' AS DateTime))
INSERT [dbo].[KHACH_HANG] ([MaKH], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (3, N'Trần Thị Bình', N'222222222222', N'0988000002', N'Thái Nguyên', CAST(N'2026-05-08T21:26:02.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOG_THANH_TOAN] ON 

INSERT [dbo].[LOG_THANH_TOAN] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-08T22:14:16.430' AS DateTime), NULL, N'Nguyễn Văn Thu', N'Thanh toán lãi để gia hạn hợp đồng')
SET IDENTITY_INSERT [dbo].[LOG_THANH_TOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TAI_SAN] ON 

INSERT [dbo].[TAI_SAN] ([MaTS], [TenTaiSan], [LoaiTaiSan], [GiaTriThamDinh], [MoTa], [IsSold], [TrangThaiTaiSan]) VALUES (1, N'Xe máy Honda Vision', N'Xe máy', CAST(30000000.00 AS Decimal(18, 2)), N'Biển số 20A-12345', 1, N'Đã bán thanh lý')
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTaiSan], [LoaiTaiSan], [GiaTriThamDinh], [MoTa], [IsSold], [TrangThaiTaiSan]) VALUES (2, N'Laptop Dell', N'Điện tử', CAST(15000000.00 AS Decimal(18, 2)), N'Core i7 RAM 16GB', 1, N'Đã bán thanh lý')
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTaiSan], [LoaiTaiSan], [GiaTriThamDinh], [MoTa], [IsSold], [TrangThaiTaiSan]) VALUES (3, N'Xe máy Honda Vision', N'Xe máy', CAST(35000000.00 AS Decimal(18, 2)), N'Biển số 20A-12345', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TAI_SAN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__A955A0AACE6D001E]    Script Date: 5/8/2026 10:18:27 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BIEN_DONG_HOP_DONG] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[BIEN_DONG_HOP_DONG] ADD  DEFAULT ((0)) FOR [SoTien]
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO] ADD  DEFAULT (getdate()) FOR [NgayCamCo]
GO
ALTER TABLE [dbo].[HOP_DONG] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOP_DONG] ADD  DEFAULT ((0.03)) FOR [LaiSuatDon]
GO
ALTER TABLE [dbo].[HOP_DONG] ADD  DEFAULT ((0.02)) FOR [LaiSuatKep]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LOG_THANH_TOAN] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TAI_SAN] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[TAI_SAN] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTaiSan]
GO
ALTER TABLE [dbo].[BIEN_DONG_HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_CAM_CO]  WITH CHECK ADD FOREIGN KEY([MaTS])
REFERENCES [dbo].[TAI_SAN] ([MaTS])
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[LOG_THANH_TOAN]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_KY_HOP_DONG]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*--------------------------------------------------------
3. STORE PROCEDURE ĐĂNG KÝ HỢP ĐỒNG
---------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP_DANG_KY_HOP_DONG]
(
    -- Thông tin khách hàng
    @HoTen NVARCHAR(100),
    @CCCD VARCHAR(20),
    @SoDienThoai VARCHAR(15),
    @DiaChi NVARCHAR(200),

    -- Thông tin hợp đồng
    @NgayVay DATE,
    @HanTra1 DATE,
    @HanTra2 DATE,
    @TienGoc DECIMAL(18,2),

    -- Danh sách tài sản
    @DSTaiSan DS_TAI_SAN READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @MaKH INT;
        DECLARE @MaHD INT;

        /*--------------------------------------------
        B1. KIỂM TRA KHÁCH HÀNG ĐÃ TỒN TẠI CHƯA
        --------------------------------------------*/
        SELECT @MaKH = MaKH
        FROM KHACH_HANG
        WHERE CCCD = @CCCD;

        /*--------------------------------------------
        B2. NẾU CHƯA CÓ => THÊM KHÁCH HÀNG
        --------------------------------------------*/
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KHACH_HANG
            (
                HoTen,
                CCCD,
                SoDienThoai,
                DiaChi
            )
            VALUES
            (
                @HoTen,
                @CCCD,
                @SoDienThoai,
                @DiaChi
            );

            SET @MaKH = SCOPE_IDENTITY();
        END

        /*--------------------------------------------
        B3. TẠO HỢP ĐỒNG
        --------------------------------------------*/
        INSERT INTO HOP_DONG
        (
            MaKH,
            NgayVay,
            HanTra1,
            HanTra2,
            TienGoc,
            TrangThai
        )
        VALUES
        (
            @MaKH,
            @NgayVay,
            @HanTra1,
            @HanTra2,
            @TienGoc,
            N'Đang vay'
        );

        SET @MaHD = SCOPE_IDENTITY();

        /*--------------------------------------------
        B4. LƯU TÀI SẢN + CHI TIẾT CẦM CỐ
        --------------------------------------------*/
        DECLARE @MaTS INT;

        DECLARE curTaiSan CURSOR FOR
        SELECT
            TenTaiSan,
            LoaiTaiSan,
            GiaTriThamDinh,
            MoTa
        FROM @DSTaiSan;

        DECLARE
            @TenTS NVARCHAR(100),
            @LoaiTS NVARCHAR(50),
            @GiaTri DECIMAL(18,2),
            @MoTa NVARCHAR(300);

        OPEN curTaiSan;

        FETCH NEXT FROM curTaiSan
        INTO @TenTS, @LoaiTS, @GiaTri, @MoTa;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Thêm tài sản
            INSERT INTO TAI_SAN
            (
                TenTaiSan,
                LoaiTaiSan,
                GiaTriThamDinh,
                MoTa
            )
            VALUES
            (
                @TenTS,
                @LoaiTS,
                @GiaTri,
                @MoTa
            );

            SET @MaTS = SCOPE_IDENTITY();

            -- Liên kết hợp đồng và tài sản
            INSERT INTO CHI_TIET_CAM_CO
            (
                MaHD,
                MaTS
            )
            VALUES
            (
                @MaHD,
                @MaTS
            );

            FETCH NEXT FROM curTaiSan
            INTO @TenTS, @LoaiTS, @GiaTri, @MoTa;
        END

        CLOSE curTaiSan;
        DEALLOCATE curTaiSan;

        /*--------------------------------------------
        B5. GHI NHẬN BIẾN ĐỘNG HỢP ĐỒNG
        --------------------------------------------*/
        INSERT INTO BIEN_DONG_HOP_DONG
        (
            MaHD,
            LoaiBienDong,
            SoTien,
            GhiChu
        )
        VALUES
        (
            @MaHD,
            N'Tạo hợp đồng',
            @TienGoc,
            N'Đăng ký hợp đồng vay mới'
        );

        COMMIT TRANSACTION;

        PRINT N'Đăng ký hợp đồng thành công';

    END TRY

    BEGIN CATCH
        ROLLBACK TRANSACTION;

        PRINT N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GIA_HAN_HOP_DONG]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*========================================================
PHẦN 2
STORE PROCEDURE GIA HẠN HỢP ĐỒNG
=========================================================*/
CREATE PROCEDURE [dbo].[SP_GIA_HAN_HOP_DONG]
(
    @MaHD INT,
    @NguoiThuTien NVARCHAR(100),
    @SoThangGiaHan INT
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE

            @TienGoc DECIMAL(18,2),
            @NgayVay DATE,

            @LaiSuatDon FLOAT,
            @SoThangDaVay INT,

            @TienLai DECIMAL(18,2),

            @HanTra1Moi DATE,
            @HanTra2Moi DATE;

        /*--------------------------------------------
        B1. LẤY THÔNG TIN HỢP ĐỒNG
        --------------------------------------------*/
        SELECT
            @TienGoc = TienGoc,
            @NgayVay = NgayVay,
            @LaiSuatDon = LaiSuatDon
        FROM HOP_DONG
        WHERE MaHD = @MaHD;

        /*--------------------------------------------
        B2. TÍNH SỐ THÁNG ĐÃ VAY
        --------------------------------------------*/
        SET @SoThangDaVay =
            DATEDIFF(MONTH, @NgayVay, GETDATE());

        IF @SoThangDaVay < 0
            SET @SoThangDaVay = 0;

        /*--------------------------------------------
        B3. TÍNH TIỀN LÃI PHẢI TRẢ
        Chỉ trả lãi để gia hạn
        --------------------------------------------*/
        SET @TienLai =
            @TienGoc
            * @LaiSuatDon
            * @SoThangDaVay;

        /*--------------------------------------------
        B4. GIA HẠN DEADLINE
        --------------------------------------------*/
        UPDATE HOP_DONG
        SET

            HanTra1 =
                DATEADD
                (
                    MONTH,
                    @SoThangGiaHan,
                    GETDATE()
                ),

            HanTra2 =
                DATEADD
                (
                    MONTH,
                    @SoThangGiaHan + 1,
                    GETDATE()
                ),

            TrangThai = N'Đang vay'

        WHERE MaHD = @MaHD;

        /*--------------------------------------------
        B5. GHI NHẬN BIẾN ĐỘNG HỢP ĐỒNG
        --------------------------------------------*/
        INSERT INTO BIEN_DONG_HOP_DONG
        (
            MaHD,
            LoaiBienDong,
            SoTien,
            GhiChu
        )
        VALUES
        (
            @MaHD,
            N'Gia hạn hợp đồng',
            @TienLai,
            N'Khách trả lãi để gia hạn'
        );

        /*--------------------------------------------
        B6. GHI AUDIT LOG
        --------------------------------------------*/
        INSERT INTO LOG_THANH_TOAN
        (
            MaHD,
            NgayTra,
            SoTienTra,
            NguoiThuTien,
            GhiChu
        )
        VALUES
        (
            @MaHD,
            GETDATE(),
            @TienLai,
            @NguoiThuTien,
            N'Thanh toán lãi để gia hạn hợp đồng'
        );

        COMMIT TRANSACTION;

        PRINT N'Gia hạn hợp đồng thành công';

        PRINT N'Số tiền lãi khách đã trả: '
            + CAST(@TienLai AS NVARCHAR);

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;

        PRINT N'Lỗi: ' + ERROR_MESSAGE();

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TRA_NO]    Script Date: 5/8/2026 10:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*--------------------------------------------------------
2. STORE PROCEDURE XỬ LÝ KHÁCH TRẢ NỢ
---------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP_TRA_NO]
(
    @MaHD INT,
    @SoTienTra DECIMAL(18,2),
    @NgayTra DATE
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @HanTra2 DATE,
            @TongNo DECIMAL(18,2),
            @DaThanhLy INT,
            @ConNo DECIMAL(18,2);

        /*--------------------------------------------
        B1. LẤY HẠN CUỐI
        --------------------------------------------*/
        SELECT
            @HanTra2 = HanTra2
        FROM HOP_DONG
        WHERE MaHD = @MaHD;

        /*--------------------------------------------
        B2. KIỂM TRA TÀI SẢN ĐÃ THANH LÝ CHƯA
        --------------------------------------------*/
        SELECT
            @DaThanhLy = COUNT(*)
        FROM CHI_TIET_CAM_CO CT
        JOIN TAI_SAN TS
            ON CT.MaTS = TS.MaTS
        WHERE CT.MaHD = @MaHD
          AND TS.IsSold = 1;

        /*--------------------------------------------
        NẾU ĐÃ THANH LÝ
        --------------------------------------------*/
        IF (@NgayTra > @HanTra2 AND @DaThanhLy > 0)
        BEGIN

            PRINT N'Tài sản đã bị thanh lý. Không thu tiền và không trả tài sản';

            ROLLBACK TRANSACTION;
            RETURN;
        END

        /*--------------------------------------------
        B3. TÍNH TỔNG NỢ
        --------------------------------------------*/
        SET @TongNo =
            dbo.fn_CalcMoneyContract(@MaHD, @NgayTra);

        /*--------------------------------------------
        B4. TÍNH DƯ NỢ
        --------------------------------------------*/
        SET @ConNo = @TongNo - @SoTienTra;

        /*--------------------------------------------
        B5. GHI NHẬN THANH TOÁN
        --------------------------------------------*/
        INSERT INTO BIEN_DONG_HOP_DONG
        (
            MaHD,
            LoaiBienDong,
            SoTien,
            GhiChu
        )
        VALUES
        (
            @MaHD,
            N'Trả nợ',
            @SoTienTra,
            N'Khách hàng thanh toán tiền'
        );

        /*--------------------------------------------
        B6. NẾU ĐÃ TRẢ HẾT
        --------------------------------------------*/
        IF (@ConNo <= 0)
        BEGIN

            UPDATE HOP_DONG
            SET TrangThai = N'Đã thanh toán đủ'
            WHERE MaHD = @MaHD;

            PRINT N'Khách đã thanh toán đủ';
            PRINT N'Trả toàn bộ tài sản cho khách';

        END

        /*--------------------------------------------
        B7. NẾU CHƯA TRẢ HẾT
        --------------------------------------------*/
        ELSE
        BEGIN

            UPDATE HOP_DONG
            SET TrangThai = N'Đang trả góp'
            WHERE MaHD = @MaHD;

            INSERT INTO BIEN_DONG_HOP_DONG
            (
                MaHD,
                LoaiBienDong,
                SoTien,
                GhiChu
            )
            VALUES
            (
                @MaHD,
                N'Còn nợ',
                @ConNo,
                N'Số tiền khách còn nợ'
            );

            PRINT N'Khách chưa thanh toán đủ';
            PRINT N'Số tiền còn nợ: ' + CAST(@ConNo AS NVARCHAR);

        END

        /*--------------------------------------------
        B8. GỢI Ý TÀI SẢN CÓ THỂ TRẢ
        Điều kiện:
        Giá trị tài sản còn lại >= dư nợ
        --------------------------------------------*/
        SELECT
            TS.MaTS,
            TS.TenTaiSan,
            TS.GiaTriThamDinh
        FROM CHI_TIET_CAM_CO CT
        JOIN TAI_SAN TS
            ON CT.MaTS = TS.MaTS
        WHERE CT.MaHD = @MaHD
          AND TS.IsSold = 0
          AND TS.GiaTriThamDinh >= @ConNo;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;

        PRINT N'Lỗi: ' + ERROR_MESSAGE();

    END CATCH

END;
GO
USE [master]
GO
